
.current{
    color: rgb(102, 166, 184);
    }

  /* unvisited link */
a:link {
    color: rgb(83, 137, 86);
  }
  
  /* visited link */
  a:visited {
    color: rgb(112, 106, 112);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(228, 100, 164);
  }
  
  /* selected link */
  a:active {
    color: rgb(84, 255, 255);
  }

  header {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  body {
    width: calc(100% - 2*20px);
    max-width: 900px;
    margin: auto;
    color: #2a3d84;
    background-color: rgb(252, 250, 237);
  }

